body{
    background-color: black;
    color: aliceblue;
}
#heading{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 17%;
    font-size: 50px;
}
#text{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
#clock{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(171, 38, 38);
    border-radius: 20px;
    margin-left: 43%;
    background-color: orange;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    flex-direction: column;

    

}

